/*

Made by: Jesse Groot
Student number: 11012579

*/

/* Makes Countries Hoverable */
path:hover{
  stroke-width: 4px;
}

/* make rader chart labels hoverable */
#Radar_div .legend:hover{
  font-weight: bold;
}

/* give the ranking a slightly different look */
#Ranking li {
  padding: 10px;
  font-style: oblique;
}
