.names {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

/* Makes Countries Hoverable */
path:hover{
  stroke-width: 4px;
}


/*    text{  pointer-events:none; }   */

.details{
  color:white;
}

#Radar_div .legend:hover{
  font-weight: bold;
}
